<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6 ielt8"><![endif]-->
<!--[if IE 7]><html class="ie7 ielt8"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
 <!--<![endif]-->
 
 <!-- 
——————/´ ¯/)
—————--/—-/
—————-/—-/
———--/´¯/'--'/´¯`Ｒ26;_
———-/'/--/—-/—--/¨¯\
——--('(———- ¯~/'--')
———\————-'—--/ 
———-'\'————_-Ｒ26;´
————\———--(
————-\———- 
源码偷时一时爽，事后全家火葬场！
 -->
 
 
 <head>
  <meta charset="UTF-8" />
  <title>网站首页-{:C('web_name')}-最快最稳定的离线系统</title>
  <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="Keywords" content="<block name="keywords">{:C('web_index_keywords')}</block>"/>
  <meta name="Description" content="<block name="description">{:C('web_index_description')}</block>"/>
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="/Public/newcss/intro.css" />
 </head>
 <body>
  <div class="">
   <div class="topbar">
    <div class="inner">
     <h1><i class="logo"></i>{:C('web_name')}</h1>
     <p class="menu">
	 <a href="#pay" class="download">购买</a>
	 <a href="#about" target="_blank">关于</a>
	 </p>
    </div>
   </div>
   <div id="back_1_container" class="item item-1" data-2500="top:50px;" data-3500="top:-910px;">
    <div class="inner">
     <p class="slogan s1" data-0="opacity:1;" data-500="opacity:0;"><span class="txt">再没有遗憾</span></p>
     <p class="slogan s2" data-500="opacity:0;" data-1000="opacity:1;" data-1500="opacity:0;"><span class="txt">最好的时间里遇见你</span></p>
     <p class="title" data-2000="opacity:0;" data-2500="opacity:1;"><i class="logo"></i><span class="txt">{:C('web_name')}</span></p>
     <p class="sub-title" data-1500="top:330px; opacity:0;" data-2000="top:330px; opacity:1;"><span class="txt">赞，在身边</span></p>
     <p class="action" data-1900="opacity:0;" data-2500="opacity:1;">
	 <if condition="$user.uid gt 0">
	 <a href="{:U('user')}" target="_blank" id="download" class="btn download"><span style="font-size:28PX;color:white;">用户中心</span></a>
	 <else/>
	 <a href="{:U('login')}" target="_blank" id="download" class="btn download"><span style="font-size:28PX;  color:white;">登录</span></a>	
	 <a href="{:U('login')}?do=reg" target="_blank" id="download" class="btn download"><span style="font-size:28PX;  color:white;">注册</span></a></if></p>
    </div>
    <p id="back_1" class="img"></p>
    <div class="down" onclick="javascrip:skrollr.get().animateTo(3500)"></div>
   </div>
   <div class="item item-2" data-2500="top:1010px;" data-3500="top:50px;">
    <div class="inner">
     <h2 class="title"><span class="txt">功能多多，不断更新</span></h2>
     <p class="sub-title" data-2500="opacity:0; top:210px;" data-3000="opacity:1; top:110px;">上有政策，下有对策，腾讯不倒，点赞到底!</p>
     <div class="phone" data-2500="opacity:0; top:500px;" data-3500="opacity:1; top:200px;" data-4700="opacity:1;margin-left: -116px;" data-5500="opacity:0; margin-left:-430px;">
      <div class="view-img">
       <img src="/Public/newimg/intro/phone-1.jpg" alt="" />
      </div>
      <b class="mask"></b>
     </div>
     <p class="feature txt-1" data-3900="opacity:0; transform:translateX(10px);" data-4100="opacity:1; transform:translateX(0px);" data-4700="opacity:1;" data-4800="opacity:0;">离线说说秒赞<small>服务器24H不断刷新空间动态，最快时间点赞！</small></p>
     <p class="feature txt-2" data-3900="opacity:0; transform:translateX(-10px);" data-4100="opacity:1; transform:translateX(0px);" data-4700="opacity:1;" data-4800="opacity:0;">自动更新服务<small>长时间使用平台可以达到自动更新的效果！</small></p>
     <p class="feature txt-3" data-3900="opacity:0; transform:translateX(-10px);" data-4100="opacity:1; transform:translateX(0px);" data-4700="opacity:1;" data-4800="opacity:0;">离线说说妙评<small>自定义评论内容，空间营销利器！</small></p>
     <div class="line-1" data-3500="opacity:0; transform:rotate(-90deg);" data-4000="opacity:1; transform:rotate(0deg);" data-4700="opacity:1;" data-4800="opacity:0;"></div>
     <div class="line-2" data-3500="opacity:0; transform:rotate(90deg);" data-4000="opacity:1; transform:rotate(0deg);" data-4700="opacity:1;" data-4800="opacity:0;"></div>
     <div class="line-3" data-3500="opacity:0; transform:rotate(90deg);" data-4000="opacity:1; transform:rotate(0deg);" data-4700="opacity:1;" data-4800="opacity:0;"></div>
     <p class="feature img-1" data-4100="opacity:0; transform:translateY(-10px);" data-4500="opacity:1; transform:translateY(0px);" data-4700="opacity:1;" data-4800="opacity:0;"></p>
     <p class="feature img-2" data-4100="opacity:0; transform:translateY(-10px);" data-4500="opacity:1; transform:translateY(0px);" data-4700="opacity:1;" data-4800="opacity:0;"></p>
     <p class="feature img-3" data-4100="opacity:0; transform:translateY(-10px);" data-4500="opacity:1; transform:translateY(0px);" data-4700="opacity:1;" data-4800="opacity:0;"></p>
    </div>
   </div>
   <div class="item item-3" data-3500="top:1200px;" data-4500="top:900px;" data-5500="top:-500px;">
    <div class="inner">
     <p class="slider feature txt-1" data-slide="img img-1"><b class="circle"></b><span class="cont">找到好伙伴<small>兴趣让我们玩在一起</small></span></p>
     <p class="slider feature txt-2" data-slide="img img-2"><b class="circle"></b><span class="cont">告别宅生活<small>走出小圈子拥抱快乐</small></span></p>
     <p class="slider feature txt-3" data-slide="img img-3"><b class="circle"></b><span class="cont">发现新乐趣<small>体验世界找到新自我</small></span></p>
    </div>
    <p id="slide_pic" class="img img-2"></p>
   </div>
   <div class="item item-4" data-2500="top:1750px;" data-3500="top:900px;" data-4500="top:900px;" data-5500="top:50px;">
    <div class="inner">
     <h2 class="title"><span class="txt">单向检测，揪出删掉</span></h2>
     <p class="sub-title" data-4500="opacity:0; top:450px;" data-5500="opacity:1; top:350px;">你敢单向，我敢删除，就这么简单！</p>
     <p class="feature img-1" data-5800="opacity:0; transform:translateX(-200px;)" data-6300="opacity:1; transform:translateX(0px;)"><i data-5800="transform:rotateZ(0deg);" data-6500="transform:rotateZ(360deg);"></i>点赞</p>
     <p class="feature img-2" data-5900="opacity:0; transform:translateX(-200px;)" data-6400="opacity:1; transform:translateX(0px;)"><i data-5800="transform:rotateZ(0deg);" data-6500="transform:rotateZ(360deg);"></i>评论</p>
     <p class="feature img-3" data-6000="opacity:0; transform:translateX(-200px;)" data-6500="opacity:1; transform:translateX(0px;)"><i data-5800="transform:rotateZ(0deg);" data-6500="transform:rotateZ(360deg);"></i>分享</p>
     <div class="phone" data-5000="opacity:0; top:-490px;" data-5500="opacity:1; top:200px;" data-6500="opacity:1; left:50px;" data-7000="opacity:0; left:647px;">
      <div class="view-img">
       <img src="/Public/newimg/intro/phone-2-1.jpg" alt="" />
      </div>
      <div class="view-img" data-5800="opacity:0; left:17px;" data-6300="opacity:1; left:232px;" data-6500="opacity:1;" data-6600="opacity:0;">
       <img src="/Public/newimg/intro/phone-2-2.jpg" alt="" />
      </div>
      <b class="mask"></b>
      <div class="zoom" data-5500="opacity:0; left:0px;" data-6000="opacity:1; left:85px;" data-6500="opacity:1;" data-6600="opacity:0;"></div>
     </div>
    </div>
   </div>
   <div class="item item-5" data-6000="top:1200px;" data-6500="top:900px;" data-7500="top:-500px;">
    <div class="inner">
     <h2 class="title"><span class="txt">从今往后告别孤独</span></h2>
     <p class="sub-title">建立群组，很快就能找到一群志同道合的朋友</p>
    </div>
    <p class="img"></p>
   </div>
   <div class="item item-6" data-4500="top:1750px;" data-5500="top:900px;" data-6500="top:900px;" data-7500="top:50px;">
    <div class="inner">
     <h2 class="title"><span class="txt">秒赞检测，轻松移动</span></h2>
     <p class="sub-title" data-6500="opacity:0; top:385px;" data-7500="opacity:1; top:285px;">秒赞么么哒！轻松批量移动指定分组！</p>
     <p class="feature img-1" data-7500="opacity:0; left:684px;" data-8300="opacity:1; left:68px;"><img src="/Public/newimg/intro/user1.png" alt="" />秒赞：小浩<br />书虫们的洞穴</p>
     <p class="feature img-2" data-7500="opacity:0; left:684px;" data-8400="opacity:1; left:253px;"><img src="/Public/newimg/intro/user2.png" alt="" />秒赞：创梦<br />爱音乐的熊孩子</p>
     <p class="feature img-3" data-7500="opacity:0; left:684px;" data-8500="opacity:1; left:438px;"><img src="/Public/newimg/intro/user3.png" alt="" />秒赞：小浩<br />青春的小秘密</p>
     <div class="phone" data-7000="opacity:0; top:-490px;" data-7500="opacity:1; top:180px;" data-8700="opacity:1; right:80px;" data-9500="opacity:0; right:362px;">
      <div class="view-img">
       <img src="/Public/newimg/intro/phone-3.jpg" alt="" />
      </div>
      <!-- <div class="ving"></div> -->
      <b class="mask"></b>
     </div>
    </div>
   </div>
   <div class="item item-7" data-7500="top:1200px;" data-8500="top:900px;" data-9500="top:50px;" data-10500="top:-450px;">
    <div class="inner">
     <div class="says">
      <div class="list">
       <ul>
        <li>
         <div id="figure_popup_shell" class="content">
          <p id="figure_desc">{:C('web_name')}VIP 购买客服</p>
          <span class="box"><i class="darr"></i> <i class="darr inner"></i></span>
         </div>
         <div class="info">
          <span class="avatar"><a href="http://wpa.qq.com/msgrd?v=3&uin={:C('web_qq')}&site=qq&menu=yes" target="_blank"><img id="figure_img" class="pic" src="http://q1.qlogo.cn/g?b=qq&s=100&nk={:C('web_qq')}" alt="" /></a></span> 
          <span class="name" id="figure_name">微客服</span>
          <span class="group" id="figure_group">售后购买客服</span>
         </div></li>
       </ul>
      </div>
<!--       <a href="javascript:;" id="introSwitchLeft" class="icon prev">上一个</a> 
      <a href="javascript:;" id="introSwitchRight" class="icon next">下一个</a> -->
     </div>
    </div>
    <p class="img"></p>
   </div>
   <div class="item item-8"  data-6500="top:1750px;" data-7500="top:900px;" data-8500="top:900px;" data-9500="top:550px;" data-10500="top:50px;">
    <div class="inner"  >
     <h2 class="title"><span class="txt">从这里开始我们的幸福</span></h2>
     <p class="sub-title" data-9500="opacity:0; top:280px;" data-10500="opacity:1; top:180px;">一分价钱，一分货，绝非其它2毛钱平台可比！</p>
     <div class="phone" id="pay" data-9500="opacity:0; top:-490px;" data-10500="opacity:1; top:248px;">
      <div class="view-img" data-10500="left:17px; opacity:0;" data-11500="left:-197px; opacity:1;">
       <img src="/Public/newimg/intro/phone-4-1.jpg" alt="" />
      </div>
      <div class="view-img">
       <img src="/Public/newimg/intro/phone-4-2.jpg" alt="" />
      </div>
      <div class="view-img" data-10500="left:17px; opacity:0;" data-11500="left:232px; opacity:1;">
       <img src="/Public/newimg/intro/phone-4-3.jpg" alt="" />
      </div>
      <b class="mask"></b>
	  
     </div>
    </div>
   </div>
   <div class="footer" id="about" data-8500="top:1750px;" data-9500="top:1400px;" data-10500="top:900px; padding-top:5%;" data-11500="top:900px; padding-top:5%;" data-12500="top:50px; padding-top:20%;">
    <p class="slogan"><span class="none">赞，在身边</span></p>
    <div class="getapp">
		 <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="520" height="86" src="http://music.163.com/outchain/player?type=2&id=2526625&auto=1&height=66"></iframe>
	<p>售前客服：{:C('web_qq')}</p>
	<p>售后客服：{:C('web_qq')}</p>
	<p>联系邮箱：{:C('web_qq')}@qq.com</p>
	<p class="copyright">Copyright &copy; 2016 Xiaohao. All Rights Reserved. </p>
<!--      <img src="/Public/newimg/intro/qrcode.png" alt="" /> 
     <a href="https://itunes.apple.com/cn/app/id858927907" target="_blank" class="btn ios"><span class="txt">iOS</span></a> 
     <a href="http://m.qzone.com/l?g=398&amp;g_f=2000000314" download="" class="btn android"><span class="txt">Android</span></a>
    </div>
    <p class="copyright">Copyright &copy; 2005 - 2014 Tencent. All Rights Reserved.</p> -->
   </div>
  </div>
  <div id="gotop" class="gotop" data-2500="opacity:0;" data-3000="opacity:1;"></div>
<!--   <div id="download_popup" class="pop-dl" style="display:none">
   <div class="dltxt">
    通过手机扫描二维码，或者选择适合你的手机系统下载{:C('web_name')}。
   </div>
   <div class="getapp">
    <img src="/Public/newimg/intro/qrcode.png" alt="" /> 
    <a href="https://itunes.apple.com/cn/app/id858927907" target="_blank" class="btn ios"><span class="txt">iOS</span></a> 
    <a href="http://m.qzone.com/l?g=398&amp;g_f=2000000314" download="" class="btn android"><span class="txt">Android</span></a>
   </div>
   <button type="button" class="bt-x" id="close_popup"><span class="none">关闭</span></button>
  </div> -->
  <script type="text/javascript" src="/Public/newjs/skrollr.min.js"></script>
  <script type="text/javascript" src="/Public/newjs/skrollr.menu.min.js"></script>
  <script type="text/javascript">var s = skrollr.init();
        //The options (second parameter) are all optional. The values shown are the default values.
        skrollr.menu.init(s,{
        easing: 'linear',
        duration: function(currentTop, targetTop) {
            return 2000;
        }
        });</script>
  <script type="text/javascript" src="/Public/newjs/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/Public/newjs/weigroup.js"></script>
 </body>
</html>