
<!doctype html>
<html class="no-js" lang="zh" data-attr-t lang-t="lang">
  <head>
    <meta charset="utf-8" />
    <meta name="Author" content="Ping++">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{:C('web_name')} - 24小时免费离线秒赞秒评,免费秒赞网,免费秒赞平台,离线秒赞网,QQ秒赞网,空间助手</title>
    <link rel="stylesheet" href="http://www.wmsg.cc/assets/css/app-821eedfc46.css">
	<meta name="description" content="{:C('web_name')}为您提供最快最稳定的免费离线秒赞平台，无需下载秒赞软件即可实现全自动秒赞！使用双协议全网最新稳定秒赞秒评，快来加入我们一起来秒赞吧！">
    <meta name="keywords" content="免费秒赞网, {:C('web_name')}, 秒赞平台,秒赞吧,离线秒赞平台,软件秒赞,24小时秒赞,离线秒赞,免费秒赞平台,秒赞网, 离线秒赞,QQ秒赞网">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
        _vds.push(['setAccountId', '8c9473c015e1499aa686406418f60e4a']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
    })();
    </script>
  </head>
  <body class="">
    
    <div class="top-bar-wrapper">
      <div class="row column">
    <div class="title-bar show-for-small-only">
        <button id="hamburger" class="menu-icon" type="button" data-toggle></button>
    </div>
    
    <div class="top-bar hide-for-small-only">
      <div class="top-bar-title">
      </div>
      <div class="top-bar-left">
      </div>
      <div class="top-bar hide-for-small-only">
      <div class="top-bar-right">
        <ul class="menu">
          <li><a target="_blank"href="http://www.ixiaohao.cn/"  data-t="top-nav.documentation">小浩Blog</a></li>
          <li><a href="{:U('login')}"  data-t="top-nav.login">登录</a></li>
          <li><a href="{:U('login')}?do=reg" class="button cta hollow small" data-t="top-nav.signup">注册</a></li>
        </ul>
      </div>
    </div>
    </div>
    
      </div>
    </div>
     <div class="mobile-nav show-for-small-only" id="sidebar-menu">
      <ul>
        
        <li class="divider"><a target="_blank"href="http://www.ixiaohao.cn/" data-t="top-nav.documentation">小浩Blog</a></li>
        <li><a href="{:U('login')}" data-t="top-nav.login">登录</a></li>
        <li class="divider"><a href="{:U('login')}?do=reg" data-t="top-nav.signup">注册</a></li>
      </ul>
    </div>
    <div class="ui-mask"></div>
    
    <section class="hero hero--clip" id="hero">
      <div class="row">
        <div class="small-12 columns">
            <div class="hero-copy">
              <h1 data-t="dashboard.hero.heading">欢迎使用{:C('web_name')}</h1>
              <h4 data-t="dashboard.hero.subheading">手机电脑平板一站通用，<br>轻松开启又快又稳定的免费秒赞。</h4>
              <p>
              <a class="button cta" href="{:U('login')}?do=reg" data-t="index.hero.cta">立即注册</a>
              <a class="button cta" href="{:U('login')}" data-t="index.hero.cta">立即登录</a>
              </p>
            </div>
        </div>
      </div>
    </section>
  
    <section class="news ld-content" id="financing">
      <div class="row align-center align-middle">
        <div class="column shrink">
          <h5 data-t="index.news.fq.title">我们正在为<strong style="color:red;">{:get_count('users','','uid')}</strong>位用户的<strong style="color:red;">{:get_count('qqs','','uid')}</strong>个QQ提供服务!</h5>
        </div>
    
      </div>
    </section>
  
    <section class="ld-feature-grid ld-content ld-content--center" id="overview">
      <div class="row align-center">
        <div class="small-11 medium-10 large-9 column">
          <div class="row small-up-1 medium-up-3 align-top">
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-shopping-chart.svg"></div>
              <h5 data-t="dashboard.features.data.title">分布执行</h5>
              <p class="small" data-t="dashboard.features.data.description">我们在多台云服务中执行任务，有效的解决了单台服务器执行任务延迟的问题。</p>
            </div>
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-emoticons-wink.svg"></div>
              <h5 data-t="dashboard.features.account.title">多QQ管理</h5>
              <p class="small" data-t="dashboard.features.account.description">支持一个账号管理多个QQ，免去频繁登录多个账号的烦恼。</p>
            </div>
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-media-sound-wave.svg"></div>
              <h5 data-t="dashboard.features.monitoring.title">实时监控</h5>
              <p class="small" data-t="dashboard.features.monitoring.description">实时监控服务器负荷，为稳定秒赞做出保障。</p>
            </div>
          </div>
          <div class="row small-up-1 medium-up-3 align-top">
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-ui-grid.svg"></div>
              <h5 data-t="dashboard.features.apps.title">多功能管理</h5>
              <p class="small" data-t="dashboard.features.apps.description">我们提供多项使用功能，满足您的多种需求。</p>
            </div>
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-tech-mobile-recharger.svg"></div>
              <h5 data-t="dashboard.features.dev.title">多平台管理</h5>
              <p class="small" data-t="dashboard.features.dev.description">平台适配PC，手机平板多平台随时随地管理您的账号。</p>
            </div>
            <div class="ld-feature-grid__column column">
              <div class="ld-feature-grid__icon"><img src="http://www.wmsg.cc/assets/img/ds-headphones-mic.svg"></div>
              <h5 data-t="dashboard.features.tickets.title">客服系统</h5>
              <p class="small" data-t="dashboard.features.tickets.description">本站VIP用户如遇问题可联系站长为你解答。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="bottom-cta bottom-cta--gray">
      <div class="row align-center">
        <div class="small-12 medium-8 large-7 columns">
          <h3 data-t="bottom-cta.default.title">开启秒赞仅需一分钟</h3>
          <p><a href="{:U('login')}?do=reg" class="button cta" data-t="bottom-cta.default.cta">免费注册账号</a></p>
        </div>
      </div>
    </section>
    
    
    <footer>
      <div class="row">
        <div class="small-12 medium-expand columns">
          <p class="xsmall">Copyright &copy; 2016 <a target="_blank" href="/">{:C('web_name')}</a>  <a target="_blank" href="#">闽ICP备11013845号-3</a></p>
        </div>
      </div>
    </footer>
    <script src="http://www.wmsg.cc/assets/js/app-f8b80f22b3.js"></script>
  </body>
</html>