<extend name="common"/>
<block name="title">会员签到-签到送VIP-{:C('web_name')}</block>
<block name="page">
<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li><a href="{:U('user')}">用户中心</a></li>
			<li class="active">会员签到</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">会员签到公告</h3>
			</div>
			{:stripslashes(C('gonggao_qiandao'))}
		</div>
	</div>
</div>
<div class="row">
	
	<div class="col-xs-12 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">最新签到<a><span class="glyphicon glyphicon-plus" aria-hidden="true" style="float:right;">&nbsp;签到</span></a></h3>
			</div>
			<div class="list-group-item list-group-item-warning"><span class="red">{$msg}</span></div>
			<div class="list-group-item">
				<a href="" class="badge">兑换</a>
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;可用积分：<font color="green" size="3">{$user.jf}</font></span>
			</div>
			<div class="list-group-item list-group-item-success">
				<form action="#" role="form" class="form-horizontal" method="post"><input type="hidden" name="do" value="qd">
				<div class="list-group-item">
					<div class="input-group">
						<div class="input-group-addon">选择签到QQ</div>
						<select name="uin"class="form-control">
							<?php if($qqlist=M('qqs')->field(array('*'))->where("uid='".$user['uid']."'")->select()){ foreach($qqlist as $row){ if(!$sidzt){ echo'<option value ="'.$row['qq'].'">'.$row['qq'].'</option>';}}} ?>
						</select>
					</div>
				</div>
				<div class="list-group-item">
					<input type="submit" name="submit" value="同意签到" class="btn btn-primary btn-block">
				</div>
				</form>
			</div>
			<volist name="list" id="qd" key="k">
			<div class="list-group-item list-group-item-warning">
				<span class="badge">连续{$qd.lx}天</span>
				<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;{$qd.user}[UID:{$qd.uid}]于[{$qd.addtime}]签到！</span>
			</div>
			</volist>
		</div>
	</div>
</div>
</block>