<extend name="common"/>

<block name="title">添加挂机-{:C('web_name')}</block>

<block name="page">
<!-- Page Header -->
<div class="page-header">
	<div class="pull-left">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li class="active"><i class="fa fa-plus" aria-hidden="true"></i>添加挂机</li>
		</ol>
	</div>
</div>
<!-- End Page Header -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-list red"></i><span class="break"></span>添加说明</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body alerts">
                                  {:stripslashes(C('gonggao_add'))}
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-save "></i>添加QQ</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body" style="display: block;">
				<form action="{:U('add')}" role="form" method="post"><input type="hidden" name="do" value="add">
					<if condition="$msg">
					<h4 class="bk-fg-danger bk-fg-darken bk-margin-off-bottom"><strong>{$msg}</strong></h4>
					</if>
					<div class="form-group">
						<label >QQ</label>
						<input type="text" name="uin" class="form-control" placeholder="QQ号码" value="{$uin}">
						<span class="help-block">请输入你的QQ号</span>
					</div>
					<div class="form-group">
						<label >密码</label>
						<input type="password" name="pwd" maxlength="16" class="form-control" placeholder="QQ密码" >
						<span class="help-block">请输入你的QQ密码</span>
					</div>
					<div class="form-group <if condition="!$code">hide</if>">
						<label >验证码</label>
						<input type="text" name="code" class="form-control" placeholder="验证码">
						<span class="help-block">请输入验证码</span>
						<input type="hidden" name="sig" value="{$sig}">
						<img width="130" height="53" src="/Other/getpic.php?uin={$uin}&sig={$sig}">
					</div>
					<input type="submit" name="submit" value="确认添加/更新" class="btn btn-success btn-lg btn-block">
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading bk-bg-white">
			<i class="fa fa-linux"></i>
				<h6>最近添加的QQ</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<foreach name="qlist" item="vo">
					<hr class="bk-margin-off">
					<a class="bk-bg-white bk-padding-off-top bk-padding-off-bottom">
						<div class="row">
							<div class="col-xs-3 bk-vcenter text-center bk-padding-10">
								<div class="bk-avatar">
									<img src="http://q1.qlogo.cn/g?b=qq&nk={$vo.uin}&s=100" class="img-circle bk-img-40 bk-border-primary bk-border-2x bk-border-darken">
								</div>
							</div>
							<div class="col-xs-9 bk-vcenter">
								<h5 class="bk-fg-primary  bk-fg-darken bk-margin-off-bottom">{$vo.nick}</h5>
								<p>
									{$vo.addtime}
								</p>
							</div>
						</div>
					</a>
				</foreach>
			</div>
		</div>
	</div>
</div>
</block>