<extend name="common"/>

<block name="title">会员签到-签到送VIP-{:C('web_name')}</block>

<block name="page">
<!-- Page Header -->
<div class="page-header">
	<div class="pull-left">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li class="active"><i class="fa fa-calendar" aria-hidden="true"></i>会员签到</li>
		</ol>
	</div>
</div>
<!-- End Page Header -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-list red"></i><span class="break"></span>会员签到公告</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body alerts">
                                  {:stripslashes(C('gonggao_qiandao'))}
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-list red"></i><span class="break"></span>我的信息</h6>
				<div class="panel-actions">
					<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="list-group-item">
				<span class="badge">UID:{$user.uid}</span>
				<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;账号：{$user.user}</span>
			</div>
			<div class="list-group-item list-group-item-warning">
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;代理：<if condition="$user['daili']"><a href="{:U('daili/index')}">普通代理</a><else/>不是代理</if></span>
			</div>
			<div class="list-group-item">
				<span class="badge">充值</span>
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;余额：<font color="red" size="3">{$user.rmb}</font>&nbsp;元</span>
			</div>
			<div class="list-group-item">
				<a href="" class="badge">兑换</a>
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;积分：<font color="green" size="3">{$user.jf}</font></span>
			</div>
			<div class="list-group-item">
				<a href="{:U('shop')}" class="badge">购买</a>
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;会员：{:get_isvip($user['vip'],$user['vipend'],'No VIP')}</span>
			</div>
			<div class="list-group-item">
				<a href="{:U('shop')}" class="badge">增加</a>
				<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;配额：{:get_count('qqs',"uid='$user[uid]'",'qid')}/<font color="green" size="3">{$user.peie}</font></span>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-list red"></i><span class="break"></span>最新签到</h6>
				<div class="panel-actions">
					<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times black"></i></a>
				</div>
			</div>
			<div class="list-group-item list-group-item-danger">
				<span aria-hidden="true">{$msg}</span>
			</div>
			<div class="panel-body bk-padding-bottom-40">
				<form action="#" role="form" class="form-horizontal" method="post">
					<input type="hidden" name="do" value="qd">
					<div class="list-group-item">
						<div class="input-group">
							<div class="input-group-addon">
									选择签到QQ
							</div>
							<select name="uin"class="form-control">
								<?php if($qqlist=M('qqs')->
									field(array('*'))->where("uid='".$user['uid']."'")->select()){ foreach($qqlist as $row){ if(!$sidzt){ echo'
								<option value ="'.$row['qq'].'">'.$row['qq'].'</option>
									';}}} ?>
							</select>
						</div>
					</div>
					<div class="list-group-item">
						<input type="submit" name="submit" value="同意签到" class="btn btn-primary btn-block">
					</div>
				</form>
			</div>
			<volist name="list" id="qd" key="k">
			<div class="list-group-item list-group-item-warning">
				<span class="badge">连续{$qd.lx}天</span>
				<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;{$qd.user}[UID:{$qd.uid}]于[{$qd.addtime}]签到！</span>
			</div>
			</volist>
		</div>
	</div>
</div>
</block>