<extend name="common"/>
<block name="title">QQ列表-{:C('web_name')}</block>
<block name="page">
<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li><a href="{:U('index')}">管理后台</a></li>
			<li class="active">QQ列表</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
		<li style="line-height: 45px;">共{$pages}页</li><li style="line-height: 45px;">{$count}条</li>
			<form class="navbar-form navbar-right" role="search" action="{:U('qqlist','p='.$page)}" method="post"><input type="hidden" name="do" value="search">
				<div class="form-group ">
					<input type="text" style="width:60%;height: 33px;padding: 6px 12px;" name="uin" placeholder="输入你要搜索的QQ号"><button type="submit" class="btn btn-default">搜索</button>
				</div> 
			</form>
		</ol>
	</div>
	
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">QQ列表</h3>
			</div>
			<br>
			<div class="row" style="padding: 5px;">
				<volist name="list" id="qq" key="k">
				<div class="col-xs-12 col-md-3">
					<div class="list-group">
						<h4 class="list-group-item list-group-item-info"><a href="{:U('qq','qid='.$qq['qid'])}">QQ:{$qq.qq}</a><a href="{:U('qqlist','do=del&p='.$page.'&qid='.$qq['qid'])}" onClick="if(!confirm('确认删除QQ:{$qq.qq}')){return false;}"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;"></span></a></h4>
						<div class="list-group-item">
							<table style="width:100%;">
							<tr>
								<td rowspan=3><img src="http://q1.qlogo.cn/g?b=qq&nk={$qq.qq}&s=100&t={:date("Ymd")}"></td>
								<td><div class="list-group-item">UID:{$qq.qid}</div></td>
							</tr>
							<tr><td><div class="list-group-item">用户名:{$qq.user}</div></td></tr>
							<tr><td><div class="list-group-item">VIP:{:get_isvip($qq['vip'],$qq['vipend'],'No VIP')}</div></td></tr>
							</table>
						</div>
						<div class="list-group-item">
							<span class="glyphicon <if condition="$qq.sidzt gt 0">glyphicon-remove-circle red<else/>glyphicon-ok-circle green</if>" aria-hidden="true">&nbsp;S ID：<if condition="$qq.sidzt gt 0">过期<else/>正常</if></span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon <if condition="$qq.skeyzt gt 0">glyphicon-remove-circle red<else/>glyphicon-ok-circle green</if>" aria-hidden="true">&nbsp;SKEY：<if condition="$qq.skeyzt gt 0">过期<else/>正常</if></span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;添加于:{$qq.addtime}</span>
						</div>
					</div>
				</div>
				</volist>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="list-group-item list-group-item-info">
			<ul class="pagination">
			<if condition="$pages gt 1">
				<li><a href="{:U('qqlist')}">首页</a></li>
				<for start="$start" end="$end+1">
				<li <if condition="$i eq $page">class="active"</if>><a href="{:U('qqlist','p='.$i)}">{$i}</a></li>
				</for>
				<li><a href="{:U('qqlist','p='.$pages)}">未页</a></li>
			</if>
			</ul>
		</div>
	</div>
</div>
</block>