<extend name="common"/>
<block name="title">用户列表-{:C('web_name')}</block>
<block name="page">
<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li><a href="{:U('index')}">管理后台</a></li>
			<li class="active">用户列表</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
		<li style="line-height: 45px;">共{$pages}页</li><li style="line-height: 45px;">{$count}条</li>
			<form class="navbar-form navbar-right" role="search" action="{:U('userlist','xz='.$xz.'&p='.$page)}" method="post"><input type="hidden" name="do" value="search">
				<div class="form-group ">
					<input type="text" style="width:60%;height: 33px;padding: 6px 12px;" name="key" placeholder="输入你要搜索的用户"><button type="submit" class="btn btn-default">搜索</button>
				</div> 
			</form>
		</ol>
	</div>
		
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><if condition="$xz eq 'vip'">VIP<else/>所有</if>用户列表</h3>
			</div>
			<br>
			<div class="row" style="padding: 5px;">
				<volist name="list" id="user" key="k">
				<div class="col-xs-12 col-md-3">
					<div class="list-group">
						<h4 class="list-group-item list-group-item-info"><a href="{:U('userset','uid='.$user['uid'])}">UID:{$user.uid}</a><a href="{:U('userlist','xz='.$xz.'&do=del&p='.$page.'&uid='.$user['uid'])}" onClick="if(!confirm('确认删除用户:{$user.user}')){return false;}"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;"></span></a></h4>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;{$user.user}</span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-hourglass" aria-hidden="true">&nbsp;{:get_isvip($user['vip'],$user['vipend'],'No VIP')}</span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-yen" aria-hidden="true">&nbsp;<font color="red" size="3">{$user.rmb}</font>&nbsp;元</span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;配额：{:get_count('qqs',"uid='$user[uid]'",'qid')}/<font color="green" size="3">{$user.peie}</font></span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true">&nbsp;状态：<font <if condition="$user.active gt 0">color=green>已激活<else/>color=red>未激活&nbsp;<a href="{:U('userlist','xz='.$xz.'&do=active&p='.$page.'&uid='.$user['uid'])}" class="btn btn-warning">激活</a></if></font></span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;注册于:{$user.regtime}</span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-indent-right" aria-hidden="true">&nbsp;注册IP:{$user.regip}{$user.city}</span>
						</div>
						<div class="list-group-item">
							<span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;上次登录:{$user.lasttime}</span>
						</div>
					</div>
				</div>
				</volist>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="list-group-item list-group-item-info">
			<ul class="pagination">
			<if condition="$pages gt 1">
				<li><a href="{:U('userlist','xz='.$xz)}">首页</a></li>
				<for start="$start" end="$end+1">
				<li <if condition="$i eq $page">class="active"</if>><a href="{:U('userlist','xz='.$xz.'&p='.$i)}">{$i}</a></li>
				</for>
				<li><a href="{:U('userlist','xz='.$xz.'&p='.$pages)}">未页</a></li>
			</if>
			</ul>
		</div>
	</div>
</div>
</block>