<extend name="common"/>

<block name="title">代理后台-{:C('web_name')}</block>

<block name="page">

<div class="page-header">
	<div class="pull-left">
		<ol class="breadcrumb">
			<li><a href="/"><span class="hidden-xs">{:C('web_name')}</span><span class="hidden-md hidden-lg">首页</span></a></li>
			<li><a href="{:U('index/user')}">用户中心</a></li>
			<li><a href="{:U('index')}">代理后台</a></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default bk-bg-white">
			<div class="panel-heading bk-bg-white">
				<h6><i class="fa fa-list red"></i><span class="break"></span>代理公告</h6>
				<div class="panel-actions">
					<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body alerts">
                                  {:stripslashes(C('gonggao_daili'))}
			</div>
		</div>
	</div>
</div>


<div class="row">

	<div class="col-xs-12 col-md-6">

		<div class="list-group">

			<div class="list-group-item list-group-item-warning">

				<h3 class="panel-title">卡密管理</h3>

			</div>

			<a class="list-group-item" href="{:U('km')}"><span class="glyphicon glyphicon-list" aria-hidden="true">VIP卡密列表</span></a>

				<a class="list-group-item" href="{:U('km','xz=peie')}"><span class="glyphicon glyphicon-list" aria-hidden="true">配额卡密列表</span></a>

			

		</div>

	</div>



</div>

</block>