<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
   
	<title><block name="title">{:C('web_index_title')}</block></title>
    <meta name="keywords" content="<block name="keywords">{:C('web_index_keywords')}</block>">
    <meta name="description" content="<block name="description">{:C('web_index_description')}</block>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/Style/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Style/bootstrap/css/bootstrap-theme.min.css">
	<script src="/Style/bootstrap/js/jquery.min.js"></script>
	<script src="/Style/bootstrap/js/bootstrap.min.js"></script>
	<if condition="$alert">{$alert}</if>
	<link rel="stylesheet" href="/Style/css/default.css?3">
	<script src="/Style/js/default.js"></script>
	<block name="head"></block>
</head>
<body>
<block name="body">
<div class="mznav">
	<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar" style="margin-top: 20px;"><span class="sr-only">{:C('web_name')}</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			<p class="navbar-brand">
				<a href="/" class="navbar-logo">{:C('web_name')}</a>
			</p>
		</div>
		<div class="collapse navbar-collapse" id="primary-navbar">
			<ul class="nav navbar-nav navbar-right navbar-lean">
				<li><a href="{:U('index/user')}"><span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>用户中心</a></li>
				<li><a href="{:U('index/add')}"><span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>添加挂机</a></li>
				<li><a href="{:U('index/shop')}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">&nbsp;</span>自助开通</a></li>
				<if condition="$user['daili']"><li><a href="{:U('index')}" class="nav-active"><span class="glyphicon glyphicon-th" aria-hidden="true">&nbsp;</span>代理后台</a></li></if>
				<li><a href="{:U('index/logout')}"><span class="glyphicon glyphicon-log-out" aria-hidden="true">&nbsp;</span>退出</a></li>
			</ul>
		</div>
	</div>
	</nav>
</div>
<div class="page-container">
	<div class="left-menu hidden-xs">
		<div class="left_container">
			<div class="list-group">
				<div class="list-group-item list-group-item-info">代理信息<a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true" style="float:right;"></span></a></div>
				<div class="list-group-item">
					<span class="badge">UID:{$user.uid}</span>
					<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;{$user.user}</span>
				</div>
				<div class="list-group-item">
					<span class="badge">充值</span>
					<span class="glyphicon glyphicon-yen" aria-hidden="true">&nbsp;<font color="red" size="3">{$user.rmb}</font>&nbsp;元</span>
				</div>
				<div class="list-group-item">
					<span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;上次登录:{$user.lasttime}</span>
				</div>
			
			</div>
			<div class="list-group">
				<div class="list-group-item list-group-item-info">操作列表<a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="float:right;"></span></a></div>
				<a class="list-group-item" href="{:U('km')}"><span class="glyphicon glyphicon-list" aria-hidden="true">VIP卡密列表</span></a>
				<a class="list-group-item" href="{:U('km','xz=peie')}"><span class="glyphicon glyphicon-list" aria-hidden="true">配额卡密列表</span></a>
			</div>
			
		</div>
	</div>
	<div class="main-content">
		<block name="page"></block>
	</div>
</div>
</block>
</body>
</html>