.mznav{
	background: url(../images/a36cb1ea.hero-bg.jpg) 0 0/cover no-repeat;
	height: 60%;
	width: 100%;
	box-sizing: border-box;
	padding-top:10px;
}
.navbar-logo {
background: url(../images/logo.png) no-repeat;
padding-left: 50px;
height: 50px;
display: block;
color: white;
line-height: 50px;
font-size: 35px;
}
.navbar-nav {
padding-top: 22px;
}

.nav li a {
margin:5px;
transition: all .2s;
border: 1px solid #fff;
color: #fff;
border-radius: 1.5em;
font-weight: 600;
line-height: 1;
padding: 12px 16px 13px;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
display: inline-block;
text-decoration: none;
margin-top: 0;
box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.nav li a.nav-active{
	background: #597C10;
}
@media (max-width: 991px){
.nav li a{
border:0;
margin: 10px 15px;
box-shadow: none;
padding: 0;
line-height: .5;
}
.nav li{
border-bottom: 1px solid #fff;
}
.nav li a {
font-size: 18px;
line-height: 1.5;
display: block;
}
.nav li a.nav-active{
	background:0;
}
}

.navbar-toggle .icon-bar {
background-color: #fff;
}



.page-container{
display: table;
width: 100%;
height: 100%;
vertical-align: top;
border-collapse: collapse;
border-spacing: 0px;
table-layout: fixed;
}
.left-menu{
height: 100%;
display: table-cell;
position: relative;
width: 340px;
z-index: 1;
}
.left_container{
padding:15px;
background: #62748C;
position: fixed;
left: 0;
top: 104px;
bottom: 0;
width: inherit;
overflow: hidden;
}
.main-content{
display: table-cell;
position: relative;
z-index: 1;
padding: 20px;
padding-bottom: 0;
vertical-align: top;
word-break: break-word;
}

.red{
color:red;
}
.green{
color:green;
}
.greenbg{
background: #7BD8A3;
}
.right{
float: right;
}
.hide{
display: none;
}

.mybox{
	background:#B99BBD;
border-radius: 5px;
padding: 15px;

}

@media (max-width: 991px){
	.mztdwidth{
		width:100px;	
	}
	.mztd{
		word-break: initial;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
	}

}

.chat-user{
width:100%;
line-height: 35px;
color: #2F76D3;
}
.chatuser{
color: #D06710;
font-weight: bold;
}
.chat-me{
text-align: right;
}
.chat-div{
min-height: 45px;
overflow: auto;
}
.chat-content{
max-width:66%;
margin-left: 2em;
display: -webkit-inline-box;
border-radius: 5px;
padding: 10px;
background: rgba(216, 239, 159, 0.53);
//text-indent: 2em;
}
.chat-ts{
margin-top:5px;
text-align: center;
border-radius: 5px;
padding: 10px;
background: rgba(216, 239, 159, 0.53);
color: red;
font-weight: bold;
}